{% extends "base.html" %}

{% block main %}
<h1 class="secure-page">Secure Page</h1>
<p class="para">A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing.A simple paragraph of my choosing.A simple paragraph of my choosing. A simple paragraph of my choosing. A simple paragraph of my choosing.</p>
{% endblock %}